* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */

:root {
    --white: #fff;
    --black: #000;
    --logo-color: #7fcfff;
    --content-color: #e3e3e3;
    --border-color: #e3e3e357;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
}

/* Common Style */

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--logo-color);
    transition: all .4s ease-in-out;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: var(--white);
}

p {
    color: var(--content-color);
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* Container */

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Row */

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Col Classes */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
    padding: 0px 15px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.section-padding {
    padding: 100px 0;
}

img {
    border-style: none;
    height: auto;
    max-width: 100%;
}

/* Header */

.header-top li {
    margin-left: 20px;
    color: var(--white);
    font-size: 20px;
}

li.search {
    background-color: var(--white);
    border-radius: 20px;
    color: var(--black);
    font-size: 17px;
    padding: 5px;
    padding-right: 40px;
    margin-right: 20px;
}

.search i {
    color: var(--black);
    margin-right: 5px;
}

nav li {
    margin-bottom: 10px;
    padding: 10px 0;
}

/* Banner */

.banner {
    background-image: url(../img/banner-pattern.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid var(--border-color);
}

.banner-content {
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1 {
    color: var(--white);
    font-weight: 600;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner-content h1 span {
    color: var(--logo-color);
}

.banner-img {
    text-align: center;
    overflow: hidden;
    height: 480px;
}

.banner-img img {
    width: 60%;
    height: 100%;
    border-radius: 7%;
}

.inner-text {
    position: absolute;
    font-size: 100px;
    font-weight: 500;
    top: 130px;
    left: -45px;
    line-height: 2.1;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #02010100;
    -webkit-text-stroke: 2px var(--content-color);
    transform: rotate(-90deg);
    opacity: 0.4;
    z-index: 10;
}

.img-info {
    background: var(--black);
    border-radius: 30px;
    padding: 30px;
    top: 10%;
    right: 9%;
}

.details {
    padding: 20px 20px 40px 20px;
}

.details.bordered {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var(--content-color);
}

.details h3 {
    color: var(--logo-color);
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.details span {
    color: var(--content-color);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.service-title {
    margin-bottom: 30px;
}

.service-title h2 {
    font-weight: 600;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h2 span {
    color: var(--logo-color);
}

/* Services */

.service-card {
    padding: 30px 0px;
    background: linear-gradient(to bottom right, #7fcfff, #000000, #000, #7fcfff);
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 30px;
}

.service-img {
    padding: 0px 0px 0px 40px;
    text-align: end;
    width: 100%;
    height: 209px;
    margin-bottom: 30px;
}

.service-img img {
    width: 100%;
    height: 100%;
    border-radius: 150px 0px 0px 150px;
}

.service-text {
    padding-left: 30px;
}

.service-text a {
    font-size: 25px;
}

.service-text a:hover {
    color: var(--logo-color);
    transition: all 0.3s ease-in-out;
}



.thm-btn::before {
    position: absolute;
    content: "";
    background-color: var(--white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0) rotateX(0deg);
    transition: all 0.2s linear;
    z-index: -1;
}

.thm-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 30px 12px;
    outline: none !important;
    background-color: var(--logo-color);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 29px;
    transition: all 0.5s linear;
    overflow: hidden;
    z-index: 1;
}

.thm-btn:hover {
    color: var(--logo-color);
}

.thm-btn:hover::before {
    transform: scaleY(1) rotateX(0deg);
    transition: all 0.4s linear;
}

.mb-30 {
    margin-bottom: 30px;
}

/* FOOTER */

footer {
    background-image: url(../img/banner-pattern.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content h3 {
    color: var(--white);
    margin-bottom: 10px;
}

.footer-content li {
    color: var(--content-color);
    line-height: 30px;
}

.footer-content i {
    margin-right: 5px;
}

.footer-copyright p {
    color: var(--content-color);
}

.footer-copyright {
    padding-top: 80px;
}

.inner p {
    font-size: 16px;

}

.inner {
    color: var(--content-color);
}

.subbmit {
    margin-top: 20px;
    position: relative;
}

.subbmit input {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--border-color);
    border: 0;
}

.subbmit .ri-mail-fill {
    font-size: 25px;
    position: absolute;
    left: 0;
    bottom: 12px;
    padding-left: 10px;
    color: var(--border-color);
    align-items: center;
}

.subbmit .ri-send-plane-fill {
    font-size: 25px;
    position: absolute;
    right: 12px;
    bottom: 10px;
    color: var(--logo-color);
}

.pt-10 {
    padding-top: 10px;
}

.mt-15{
    margin-top: 15px;
}